html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #cfe0e5;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ----------------------- */

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  width: 100vw;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

main {
  min-height: 90vh;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__wrapper {
  height: max-content;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #fff;
}

.player__wrapper > .player__screensaver {
  transform: scale(1);
  border-radius: 10px 10px 0 0;
}

.player__screensaver {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.wholescreen {
  filter: blur(7px);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/lemonade.png);
  background-position: center;
}

.player__control-block {
  width: 100%;
  height: 30%;
  background-color: #7b7b7b;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.player__control-block img {
  filter: invert(1);
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.player__control-block img:hover {
  filter: invert(0.2);
}

.song-data {
  width: 100%;
  padding: 10px;
}

.song-artist {
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1.2px;
  color: #c1ff06;
  text-shadow: 0.5px 0.5px 2px #000;
}

.song-title {
  font-size: 17px;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
}

.previous-song,
.next-song {
  width: 30px;
  height: 30px;
}

.play-pause {
  width: 40px;
  height: 40px;
}

.play {
}

.timeline {
  width: 85%;
  height: 4px;
  margin: 10px;
  background-color: #000;
  border-radius: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.progress {
  width: 12px;
  height: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.time-volume-data {
  width: 100%;
  padding: 0 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.time > div {
  font-size: 13px;
  font-weight: 600;
}

.volume-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
}

.volume:hover ~ .volume-slider {
  width: 50px;
  transition: all 1s ease-in-out;
}

.volume:hover ~ .volume-slider > .volume-percentage {
  width: 8px;
  height: 6px;
  transition: all 1s ease-in-out;
}

.volume {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.volume-slider {
  width: 0px;
  height: 4px;
  background-color: #000;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 1s ease-in-out;
}

.volume-percentage {
  width: 0px;
  height: 0px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #fff;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  transition: all 1s ease-in-out;
}

footer {
  width: 100vw;
  background: #7b7b7b;
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.footer-group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.footer-group a {
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  text-decoration: none;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.footer-group a:hover {
  box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.3),
    0.3px 0.3px 8px rgba(0, 0, 0, 0.5);
}

.github {
  padding: 5px;
}

.github::before {
  content: '';
  background-image: url(../img/svg/github-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.logo {
  margin: 10px;
  width: 120px;
  transition: all 1s ease-in-out;
}
